<%= turbo_stream.replace dom_id(@restaurant, :bookmark) do %>
  <%= link_to restaurant_bookmark_path(@restaurant),
              method: :post,
              data: { turbo_frame: dom_id(@restaurant, :bookmark) },
              class: "text-primary text-decoration-none",
              title: "Save to Wishlist" do %>
    <i class="fa-regular fa-bookmark fa-lg"></i>
  <% end %>
<% end %>

<%= turbo_stream.replace "flash" do %>
  <div class="alert alert-success">
    Restaurant removed from wishlist!
  </div>
<% end %>

