<turbo-frame id="search_results">
  <% if @users.any? %>
    <h6>Friends</h6>
    <% @users.each do |user| %>
      <div>
        <%= link_to user.username, user_path(user), class: "d-block" %>
      </div>
    <% end %>
  <% end %>

  <% if @restaurants.any? %>
    <h6>Restaurants</h6>
    <% @restaurants.each do |restaurant| %>
      <div>
        <%= link_to restaurant.name, restaurant_path(restaurant), class: "d-block" %>
      </div>
    <% end %>
  <% end %>
</turbo-frame>




<%# <turbo-frame id="friend_search_results">
  <%# <% users.each do |user| %>
    <%# <div>
      <%# <%= link_to user.username, user_path(user), class: "d-block" %>
    <%# </div>
  <% end %>
<%# </turbo-frame> %>
