<div class="position-fixed bottom-0 start-50 translate-middle-x mb-5 z-3" style="min-width: 300px;">
  <% if notice %>
    <div class="alert alert-info alert-dismissible fade show shadow" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning alert-dismissible fade show shadow" role="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
