<div class="position-fixed bottom-0 end-0 me-5 mb-5" style="min-width: 300px; z-index: 2000;">
  <% if notice %>
    <div class="alert alert-info alert-dismissible fade show shadow" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning alert-dismissible fade show shadow" role="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
