<turbo-frame id="main_content">
  <div class="d-flex justify-content-center mt-3 mb-5">
    <div class="feed-column">
      <%= render "pages/recommendations_feed", recommendations: @recommendations %>
    </div>
  </div>
</turbo-frame>
