<turbo-frame id="main_content">
<h1>My Wishlist</h1>

<% if @restaurants.any? %>
  <ul class="list-group">
    <% @restaurants.each do |restaurant| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <%= link_to restaurant.name, restaurant_path(restaurant), class: "fw-bold text-decoration-none" %>
          <small class="text-muted">(<%= restaurant.category %>)</small>
        </span>
          <%= button_to "Remove",
        restaurant_bookmarks_path(restaurant),
        method: :delete,
        class: "btn btn-sm btn-outline-danger",
        data: { turbo_confirm: "Remove from wishlist?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info mt-3">
    You haven’t added any restaurants yet.
  </div>
<% end %>
 </turbo-frame>
